@charset "utf-8";
/* CSS Document */
body {
	font-family:"TH Sarabun New", "Tw Cen MT";
	font-size:24px;	
}
h1 {
	font-family:"TH Sarabun New", "Tw Cen MT";
}
.bottomsize {
	font-size:20px;
	font-family:"TH Sarabun New", "Tw Cen MT";
}